name: Deploy

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0.2'
        bundler-cache: true
    - name: Install deps
      run: |
        npm install -g mermaid.cli
    - name: Setup deploy options
      id: setup
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        SRC_BRANCH="${GITHUB_REF#refs/heads/}"
        if [[ ${GITHUB_REF} = refs/pull/*/merge ]]; then # pull request
          SRC_BRANCH="${GITHUB_HEAD_REF}"
          echo "NO_PUSH=--no-push" >> "$GITHUB_OUTPUT"
        fi
        echo "SRC_BRANCH=${SRC_BRANCH}" >> "$GITHUB_OUTPUT"
        echo "DEPLOY_BRANCH=gh-pages" >> "$GITHUB_OUTPUT"
    - name: Deploy website
      env:
        SRC_BRANCH: ${{ steps.setup.outputs.SRC_BRANCH }}
        DEPLOY_BRANCH: ${{ steps.setup.outputs.DEPLOY_BRANCH }}
        NO_PUSH: ${{ steps.setup.outputs.NO_PUSH }}
      run: |
        bin/deploy --yes --verbose \
          --src "${SRC_BRANCH}" \
          --deploy "${DEPLOY_BRANCH}" \
          ${NO_PUSH:+${NO_PUSH}}
